:root {
    --bg-dark: #1A2F3A;
    --logo-height: 100px;
    --header-height: 100px;
    --aside-width: 225px;
    --footer-height: 40px;
    --shadow: 0 2px 23px 0 rgba(0,0,0,0.1),
              0 2px 49px 0 rgba(0,0,0,0.06);
    --shadow-nav:  2px 0 10px 0 rgba(0,0,0,0.12),
                   2px 0 15px 0 rgba(0,0,0,0.09);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'RobotoMono', monospace;
    
}

.app {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    
    grid-template-rows: var(--header-height)
                        1fr          
                        var(--fotter-height);
    grid-template-areas: "logo header"
                         "menu content"
                         "footer footer";
    background-color: #f5f5f5; 
}

aside.logo {
    grid-area: logo;
}
header.header {
    grid-area: header;
}
aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}
footer.footer {
    grid-area: footer;
}